 @media (min-width: 1200px) {
     .u-sheet {
         width: 1140px;
     }
 }
 
 @media (min-width: 992px) and (max-width: 1199px) {
     .u-sheet {
         width: 940px;
     }
 }
 
 @media (min-width: 768px) and (max-width: 991px) {
     .u-sheet {
         width: 720px;
     }
 }
 
 @media (min-width: 576px) and (max-width: 767px) {
     .u-sheet {
         width: 540px;
     }
 }
 
 @media (max-width: 575px) {
     .u-sheet {
         width: 340px;
     }
 }
 
 .u-sheet .u-sheet {
     width: 100%;
 }
 
 .u-container-layout {
     position: relative;
     flex: 1;
     max-width: 100%;
 }
 
 .u-inner-container-layout,
 .u-container-layout>* {
     position: relative;
 }
 
 .u-expanded {
     position: absolute !important;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
 }
 
 .u-expanded-width {
     width: 100% !important;
     margin-left: 0 !important;
     margin-right: 0 !important;
 }
 
 @media (min-width: 1200px) {
     .u-expanded-width-xl {
         width: 100% !important;
         margin-left: 0 !important;
         margin-right: 0 !important;
     }
 }
 
 @media (min-width: 992px) and (max-width: 1199px) {
     .u-expanded-width-lg {
         width: 100% !important;
         margin-left: 0 !important;
         margin-right: 0 !important;
     }
 }
 
 @media (min-width: 768px) and (max-width: 991px) {
     .u-expanded-width-md {
         width: 100% !important;
         margin-left: 0 !important;
         margin-right: 0 !important;
     }
 }
 
 @media (min-width: 576px) and (max-width: 767px) {
     .u-expanded-width-sm {
         width: 100% !important;
         margin-left: 0 !important;
         margin-right: 0 !important;
     }
 }
 
 @media (max-width: 575px) {
     .u-expanded-width-xs {
         width: 100% !important;
         margin-left: 0 !important;
         margin-right: 0 !important;
     }
 }
 
 .u-expanded-height {
     position: absolute !important;
     height: 100% !important;
     top: 0 !important;
 }
 
 @media (min-width: 1200px) {
     .u-expanded-height-xl {
         position: absolute !important;
         height: 100% !important;
         top: 0 !important;
     }
 }
 
 @media (min-width: 992px) and (max-width: 1199px) {
     .u-expanded-height-lg {
         position: absolute !important;
         height: 100% !important;
         top: 0 !important;
     }
 }
 
 @media (min-width: 768px) and (max-width: 991px) {
     .u-expanded-height-md {
         position: absolute !important;
         height: 100% !important;
         top: 0 !important;
     }
 }
 
 @media (min-width: 576px) and (max-width: 767px) {
     .u-expanded-height-sm {
         position: absolute !important;
         height: 100% !important;
         top: 0 !important;
     }
 }
 
 @media (max-width: 575px) {
     .u-expanded-height-xs {
         position: absolute !important;
         height: 100% !important;
         top: 0 !important;
     }
 }
 
 .u-valign-middle,
 .u-valign-top,
 .u-valign-bottom {
     display: flex;
     flex-direction: column;
 }
 
 @media (min-width: 1200px) {
     .u-valign-middle-xl,
     .u-valign-top-xl,
     .u-valign-bottom-xl {
         display: flex;
         flex-direction: column;
     }
 }
 
 @media (min-width: 992px) and (max-width: 1199px) {
     .u-valign-middle-lg,
     .u-valign-top-lg,
     .u-valign-bottom-lg {
         display: flex;
         flex-direction: column;
     }
 }
 
 @media (min-width: 768px) and (max-width: 991px) {
     .u-valign-middle-md,
     .u-valign-top-md,
     .u-valign-bottom-md {
         display: flex;
         flex-direction: column;
     }
 }
 
 @media (min-width: 576px) and (max-width: 767px) {
     .u-valign-middle-sm,
     .u-valign-top-sm,
     .u-valign-bottom-sm {
         display: flex;
         flex-direction: column;
     }
 }
 
 @media (max-width: 575px) {
     .u-valign-middle-xs,
     .u-valign-top-xs,
     .u-valign-bottom-xs {
         display: flex;
         flex-direction: column;
     }
 }
 
 .u-valign-middle>*,
 .u-valign-top>*,
 .u-valign-bottom>* {
     flex-shrink: 0;
 }
 
 .u-valign-middle {
     justify-content: center;
 }
 
 @media (min-width: 1200px) {
     .u-valign-middle-xl {
         justify-content: center;
     }
 }
 
 @media (min-width: 992px) and (max-width: 1199px) {
     .u-valign-middle-lg {
         justify-content: center;
     }
 }
 
 @media (min-width: 768px) and (max-width: 991px) {
     .u-valign-middle-md {
         justify-content: center;
     }
 }
 
 @media (min-width: 576px) and (max-width: 767px) {
     .u-valign-middle-sm {
         justify-content: center;
     }
 }
 
 @media (max-width: 575px) {
     .u-valign-middle-xs {
         justify-content: center;
     }
 }
 
 .u-valign-top {
     justify-content: flex-start;
 }
 
 @media (min-width: 1200px) {
     .u-valign-top-xl {
         justify-content: flex-start;
     }
 }
 
 @media (min-width: 992px) and (max-width: 1199px) {
     .u-valign-top-lg {
         justify-content: flex-start;
     }
 }
 
 @media (min-width: 768px) and (max-width: 991px) {
     .u-valign-top-md {
         justify-content: flex-start;
     }
 }
 
 @media (min-width: 576px) and (max-width: 767px) {
     .u-valign-top-sm {
         justify-content: flex-start;
     }
 }
 
 @media (max-width: 575px) {
     .u-valign-top-xs {
         justify-content: flex-start;
     }
 }
 
 .u-valign-bottom {
     justify-content: flex-end;
 }
 
 @media (min-width: 1200px) {
     .u-valign-bottom-xl {
         justify-content: flex-end;
     }
 }
 
 @media (min-width: 992px) and (max-width: 1199px) {
     .u-valign-bottom-lg {
         justify-content: flex-end;
     }
 }
 
 @media (min-width: 768px) and (max-width: 991px) {
     .u-valign-bottom-md {
         justify-content: flex-end;
     }
 }
 
 @media (min-width: 576px) and (max-width: 767px) {
     .u-valign-bottom-sm {
         justify-content: flex-end;
     }
 }
 
 @media (max-width: 575px) {
     .u-valign-bottom-xs {
         justify-content: flex-end;
     }
 }
 
 @media (min-width: 992px) and (max-width: 1199px) {
     .u-align-left-lg {
         text-align: left;
     }
 }
 
 @media (min-width: 768px) and (max-width: 991px) {
     .u-align-left-md {
         text-align: left;
     }
 }
 
 @media (min-width: 576px) and (max-width: 767px) {
     .u-align-left-sm {
         text-align: left;
     }
 }
 
 @media (max-width: 575px) {
     .u-align-left-xs {
         text-align: left;
     }
 }
 
 .u-align-center {
     text-align: center;
 }
 
 @media (min-width: 1200px) {
     .u-align-center-xl {
         text-align: center;
     }
 }
 
 @media (min-width: 992px) and (max-width: 1199px) {
     .u-align-center-lg {
         text-align: center;
     }
 }
 
 @media (min-width: 768px) and (max-width: 991px) {
     .u-align-center-md {
         text-align: center;
     }
 }
 
 @media (min-width: 576px) and (max-width: 767px) {
     .u-align-center-sm {
         text-align: center;
     }
 }
 
 @media (max-width: 575px) {
     .u-align-center-xs {
         text-align: center;
     }
 }
 
 .u-align-right {
     text-align: right;
 }
 
 @media (min-width: 1200px) {
     .u-align-right-xl {
         text-align: right;
     }
 }
 
 @media (min-width: 992px) and (max-width: 1199px) {
     .u-align-right-lg {
         text-align: right;
     }
 }
 
 @media (min-width: 768px) and (max-width: 991px) {
     .u-align-right-md {
         text-align: right;
     }
 }
 
 @media (min-width: 576px) and (max-width: 767px) {
     .u-align-right-sm {
         text-align: right;
     }
 }
 
 @media (max-width: 575px) {
     .u-align-right-xs {
         text-align: right;
     }
 }
 
 .u-align-justify {
     text-align: justify;
 }
 
 @media (min-width: 1200px) {
     .u-align-justify-xl {
         text-align: justify;
     }
 }
 
 @media (min-width: 992px) and (max-width: 1199px) {
     .u-align-justify-lg {
         text-align: justify;
     }
 }
 
 @media (min-width: 768px) and (max-width: 991px) {
     .u-align-justify-md {
         text-align: justify;
     }
 }
 
 @media (min-width: 576px) and (max-width: 767px) {
     .u-align-justify-sm {
         text-align: justify;
     }
 }
 
 @media (max-width: 575px) {
     .u-align-justify-xs {
         text-align: justify;
     }
 }
 
 @keyframes slideOutUp {
     from {
         transform: translate3d(0, 0, 0);
     }
     to {
         transform: translate3d(0, -100%, 0);
     }
 }
 
 @keyframes slideOutRight {
     from {
         transform: translate3d(0, 0, 0);
     }
     to {
         transform: translate3d(100%, 0, 0);
     }
 }
 
 @keyframes slideOutDown {
     from {
         transform: translate3d(0, 0, 0);
     }
     to {
         transform: translate3d(0, 100%, 0);
     }
 }
 
 @keyframes slideOutLeft {
     from {
         transform: translate3d(0, 0, 0);
     }
     to {
         transform: translate3d(-100%, 0, 0);
     }
 }
 /* Fix zoomIn animation for Internet Explorer */
 
 @keyframes zoomIn {
     from {
         opacity: 0;
         transform: scale3d(0.3, 0.3, 0.3);
     }
     50% {
         opacity: 1;
     }
     to {
         opacity: 1;
     }
 }
 
 @keyframes zoomInDown {
     from {
         opacity: 0;
         transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
         animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
     }
     60% {
         opacity: 1;
         transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
         animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
     }
     to {
         opacity: 1;
     }
 }
 
 @keyframes zoomInLeft {
     from {
         opacity: 0;
         transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
         animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
     }
     60% {
         opacity: 1;
         transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
         animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
     }
     to {
         opacity: 1;
     }
 }
 
 @keyframes zoomInRight {
     from {
         opacity: 0;
         transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
         animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
     }
     60% {
         opacity: 1;
         transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
         animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
     }
     to {
         opacity: 1;
     }
 }
 
 @keyframes zoomInUp {
     from {
         opacity: 0;
         transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
         animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
     }
     60% {
         opacity: 1;
         transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
         animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
     }
     to {
         opacity: 1;
     }
 }
 
 .u-responsive-xs .slideInDown,
 .u-responsive-sm .slideInDown {
     animation-name: slideInUp;
 }
 
 .u-responsive-xs .slideOutUp,
 .u-responsive-sm .slideOutUp {
     animation-name: slideOutDown;
 }
 /*end-commonstyles animation*/
 
 .u-cookies-consent {
     display: none;
     position: fixed;
     bottom: 0;
     left: 0;
     right: 0;
     z-index: 1;
 }
 
 .u-cookies-consent.show {
     display: block;
 }
 
 .u-gallery-item {
     position: relative;
     overflow: hidden;
 }
 
 .u-back-slide {
     width: 100%;
     height: 100%;
     background-size: cover;
     background-position: 50% 50%;
     background-repeat: no-repeat;
 }
 
 .u-back-image {
     height: 100%;
     width: 100%;
     object-fit: cover;
     object-position: center;
 }
 
 .u-show-text-none .u-over-slide {
     display: none;
 }
 
 .u-over-slide .u-gallery-heading,
 .u-over-slide .u-gallery-text {
     margin-top: 0;
     margin-bottom: 0;
 }
 
 .u-gallery.u-layout-carousel .u-carousel-indicators li {
     opacity: 0.5;
 }
 
 .u-gallery.u-layout-carousel .u-carousel-indicators li.u-active {
     opacity: 1;
 }
 
 .u-no-transition *,
 .u-no-transition *:before,
 .u-no-transition *:after {
     transition: none !important;
 }
 
 .u-layout-carousel.u-gallery.u-product-zoom .u-back-slide,
 .u-layout-thumbnails.u-gallery.u-product-zoom .u-back-slide {
     background-size: contain;
     background-position: 50% 50%;
     cursor: zoom-in;
     overflow: hidden;
 }
 
 .u-layout-carousel.u-gallery.u-product-zoom .u-back-slide.hover img,
 .u-layout-thumbnails.u-gallery.u-product-zoom .u-back-slide.hover img {
     opacity: 1;
 }
 
 .u-layout-carousel.u-gallery.u-product-zoom .u-back-slide img,
 .u-layout-thumbnails.u-gallery.u-product-zoom .u-back-slide img {
     min-width: 120%;
     min-height: 120%;
     height: auto;
     width: auto;
     opacity: 0;
     transition: opacity .5s;
     pointer-events: none;
 }
 
 .u-repeater {
     display: grid;
     grid-template-columns: repeat(3, 33.33333333%);
 }
 
 .u-repeater-item {
     display: flex;
     position: relative;
 }
 
 .u-list-control {
     display: flex;
     position: relative;
 }
 
 .u-list:not(.u-repeater),
 .u-blog:not(.u-repeater),
 .u-products:not(.u-repeater) {
     display: flex;
     flex-direction: column;
 }
 
 .u-list:not(.u-repeater) .u-repeater,
 .u-blog:not(.u-repeater) .u-repeater,
 .u-products:not(.u-repeater) .u-repeater {
     flex: 1;
 }
 
 .u-list:not(.u-repeater) .u-list-control,
 .u-blog:not(.u-repeater) .u-list-control,
 .u-products:not(.u-repeater) .u-list-control {
     flex: 0;
 }
 
 .u-table table {
     width: 100%;
     border-collapse: collapse;
     text-align: left;
 }